<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
<%- include("./partials/navbar.ejs") %>
  <div class="blogs content">
    <h2>All tasks</h2>

    <% if (tasks.length > 0) { %>
      <% tasks.forEach(task => { %>
        <a class="single" href="/tasks/<%= task._id %>">
          <h3 class="title"><%= task.name %></h3>
          <p class="snippet"><%= task.discription %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no task to display...</p>
      <a href="/tasks/create">add task here</a>
    <% } %>
    
  </div>

</body>
<%- include("./partials/footer.ejs") %>

</html>